/*ul {*/
/*    list-style: none;*/
/*}*/
/*.city::before {*/
/*    content: "• ";*/
/*    color: black; !* or whatever color you prefer *!*/
/*}*/
/*.region::before {*/
/*    content: "• ";*/
/*    color: red; !* or whatever color you prefer *!*/
/*}*/
li a {
    position: relative;
    right: 20px;
}

.arrow-disable[type=number]::-webkit-inner-spin-button,
.arrow-disable[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.optionGroup {
    font-weight: bold!important;
    font-style: italic!important;;
}

.optionChild {
    padding-left: 15px!important;;
}