/* ------------- Order Details ------------- */
#order-details {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 15px;
    width: 100%;
}


.order-details-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 10px;
    border-bottom: 1px solid #D3D3D3;
}

.order-details-header button {
    border: 0;
    outline: 0;
    background: transparent;
    color: #457B9D;
}

.order-details-header button:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 1px;
    height: 25px;
    background: #D3D3D3;
    vertical-align: middle;
    margin: 0 10px;
}

.order-details-header span {
    font-size: 14px;
    color: #979797;
}

#back-to-orders-mobile {
    display: none;
}

.order-details-header button i {
    margin-left: 10px;
}

.order-details-header span:not(span:last-child):after {
    content: "-";
    position: relative;
    margin: 0 10px;
}

.order-details-main {
    display: flex;
    flex-direction: column;
}

.order-details-main .order-details-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.order-details-info > div {
    display: flex;
    flex-direction: column;
}

.order-details-info span {
    color: #4A4A4A;
    margin-bottom: 5px;
}

.order-details-info span + span {
    color: #1C1C28;
    font-size: 14px;
}

#order-products {
    width: 100%;
//table-layout: fixed;
    margin-top: 50px;
}

#order-products-mobile {
    display: none;
}

#order-products thead {
    color: #979797;
    font-weight: normal;
}

#order-products th {
    padding-bottom: 20px;
}

#order-products tbody {
    font-size: 14px;
    color: #1C1C28;
}

#order-products tbody a {
    color: #1C1C28;
}

#order-products tr:not(tr:last-child) {
    border-bottom: 1px solid #D3D3D3;
}

#order-products td {
    padding: 15px 0;
}

#order-products th:first-child {
    width: 400px;
}

#order-products img {
    width: 100px;
}

#order-products button {
    background: rgba(6,194,111,.12);
    color: #06C270;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 5px 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#order-products button:hover {
    color: #fff;
    background: #06C270;
}

.order-state-mobile {
    display: none;
}

.order-state-table {
    padding: 60px 10px;
    background: #F3F6F9;
    width: 100%;
}

#order-state-table {
    width: 100%;
    table-layout: auto;
    text-align: center;
}

#order-state-table thead {
    color: #8F90A6;
    font-weight: normal;
}

#order-state-table th {
    padding: 0 10px 15px;
}

#order-state-table tbody {
    color: #1C1C28;
}

#order-state-table thead tr {
    border-bottom: 1px solid #D3D3D3;
}

#order-state-table td {
    padding: 15px 10px 15px;
}

/*----------- Responsive -------------*/
/*---------------- User Panel - Order Details Page ------------------- */
@media screen and (max-width: 767px) {
    #orderDetailsPage #footer,
    #orderDetailsPage #panel-sidebar {
        display: none;
    }

    #back-to-orders-mobile {
        display: flex;
        align-items: center;
        border: 0;
        outline: 0;
        background-color: transparent;
        font-size: 14px;
        color: #1C1C28;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #d3d3d3;
    }

    #back-to-orders-mobile i {
        margin-left: 10px;
    }

    #back-to-orders {
        display: none;
    }

    .order-details-header {
        padding-bottom: 10px;
        border: 0;
    }

    .order-details-header span {
        font-size: 12px;
    }

    .order-details-main {
        margin-bottom: 10px;
    }

    .order-details-main .order-details-info {
        display: flex;
        flex-direction: column;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        margin-bottom: 10px;
    }

    .order-details-info span {
        font-size: 10px;
    }

    .order-details-info span + span {
        font-size: 12px;
    }

    .info-item3 {
        order: 1;
    }

    .info-item2 {
        order: 2;
    }

    .info-item1 {
        order: 3;
    }

    #order-products {
        display: flex;
        flex-direction: column;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        margin-top: 0;
        padding: 10px;
    }

    #order-products thead tr {
        width: 100%;
    }

    #order-products th {
        font-size: 10px;
    }

    #order-products th:first-child {
        width: auto;
    }

    #order-products {
        display: none;
    }

    #order-products-mobile {
        display: flex;
        flex-direction: column;
        border: 1px solid #D3D3D3;
        border-radius: 6px;
        padding: 10px;
    }

    #order-products-mobile h4 {
        font-size: 14px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d3d3d3;
    }

    .order-mobile-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }

    .order-mobile-item div:nth-child(2) {
        justify-content: center;
    }

    .order-mobile-item:not(.order-mobile-item:last-child) {
        margin-bottom: 10px;
        border-bottom: 1px solid #d3d3d3;
    }

    .order-mobile-item img {
        width: 80px;
    }

    .order-mobile-item > div {
        display: flex;
        flex-direction: column;
    }

    .order-mobile-item div:first-child {
        align-self: center;
    }

    .order-mobile-item div:nth-child(3) {
        justify-content: space-between;
    }

    .order-mobile-item span {
        font-size: 10px;
    }

    .order-mobile-item small {
        margin-right: 5px;
    }

    .order-mobile-item .product-count {
        margin-bottom: 5px;
        text-align: center;
    }

    .order-mobile-item .product-count span {
        border-bottom: 1px dashed var(--main-color);
        font-size: 12px;
    }

    .order-mobile-item .product-off {
        color: #ff3b3b;
    }

    .order-mobile-item .product-cost {
        font-size: 12px;
        color: #707070;
    }

    .order-mobile-item h6 {
        font-size: 10px;
    }

    .order-mobile-item button {
        font-size: 10px;
        border: 0;
        outline: 0;
        background: rgba(6,194,112,.12);
        color: #06C270;
        padding: 5px;
        border-radius: 30px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .order-mobile-item button:hover {
        color: #fff;
        background: #06C270;
    }

    .order-mobile-item .product-total-price {
        font-size: 12px;
        min-width: 70px;
    }

    .order-state-table {
        display: none;
    }

    .order-state-mobile {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 12px;
        width: 100%;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
    }

    .order-state-mobile h6 {
        font-size: 14px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d3d3d3;
        color: #1C1C28;
    }

    .order-state-mobile .order-history {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #d3d3d3;
    }

    .order-state-mobile .order-history > div,
    .order-state-mobile .order-details > div {
        display: flex;
        justify-content: space-between;
        color: #7F7F7F;
        padding: 10px 0;
    }

    .order-state-mobile .order-details div:nth-child(2) {
        color: #ff3b3b;
        padding-bottom: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #d3d3d3;
    }

    .order-state-mobile .order-details div:last-child {
        color: #1C1C28;
        font-size: 14px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .order-details-info span {
        font-size: 14px;
    }

    .order-details-info span + span {
        font-size: 12px;
    }

    #order-products thead {
        font-size: 14px;
    }

    #order-products td {
        font-size: 12px;
    }

    #order-products button {
        padding: 5px;
    }

    #order-state-table {
        font-size: 14px;
    }

    .order-state-table {
        padding: 30px 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .order-details-header {
        padding-bottom: 10px;
    }

    #back-to-orders,
    .order-details-header span {
        font-size: 12px;
    }

    .order-details-info span {
        font-size: 14px;
    }

    .order-details-info span + span {
        font-size: 12px;
    }

    #order-products thead {
        font-size: 12px;
    }

    #order-products img {
        width: 80px;
    }

    #order-products td {
        font-size: 10px;
    }

    #order-products button {
        padding: 5px;
    }

    #order-state-table {
        font-size: 12px;
    }

    .order-state-table {
        padding: 20px 10px;
    }
}