<!DOCTYPE html>
<html lang="fa" xmlns:th="http://www.thymeleaf.org">
<head></head>

<div th:remove="tag" th:fragment="style">
</div>

<body>
<div th:remove="tag" th:fragment="content">

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">کاربر</h3>
                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="" class="kt-subheader__breadcrumbs-link">ایجاد/ ویرایش کاربر </a>
                </div>
            </div>
        </div>

    </div>

    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile"
                     id="kt_page_portlet">
                    <div class="kt-portlet__head kt-portlet__head--lg">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">اطلاعات کاربر
                                <small>پس از وارد کردن اطلاعات گزینه ثبت را بزنید.</small>
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">

                            <div class="btn-group">
                                <div class="kt-subheader__wrapper">
                                    <a href="/admin/user" class="btn btn-default btn-bold ">بازگشت </a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <form class="kt-form" id="form-user">
                            <div class="kt-portlet__body">
                            <input type="hidden">
                            <div class="row">
                                <div class="col-lg-12 col-sm-9">
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 col-form-label">تصویر</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <div class="kt-avatar kt-avatar--outline kt-avatar--circle"
                                                     id="kt_apps_user_add_avatar">
                                                    <div class="kt-avatar__holder">
                                                        <!--                                                         th:style=" *{logoId >0} ? 'background-image: url(/thumbnail/files/0/' +  *{logoId} + ')'"-->
                                                    </div>
                                                    <label class="kt-avatar__upload"
                                                           data-toggle="kt-tooltip" title=""
                                                           data-original-title="Change avatar">
                                                        <i class="fa fa-pen"></i>
                                                        <input name="avatarFile" id="avatarFile" type="file">
                                                        <input type="hidden">
                                                    </label>
                                                    <span class="kt-avatar__cancel"
                                                          data-toggle="kt-tooltip" title=""
                                                          data-original-title="Cancel avatar">
                                                        <i class="fa fa-times"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 form-group-sub">
                                                <span class="text-dark">نام : </span>
                                                <input type="text"
                                                       class="form-control form-user-add-name"
                                                       placeholder="نام و  را وارد کنید"
                                                       name="form-user-add-fName">
                                            </div>
                                            <div class="col-lg-3 form-group-sub">
                                                <span class="text-dark">نام خانوادگی </span>
                                                <input type="text"
                                                       class="form-control form-user-add-name"
                                                       placeholder="نام خانوداگی  را وارد کنید"
                                                       name="form-user-lName">
                                            </div>
                                            <div class="col-lg-3 form-group-sub">
                                                <span class="text-dark">نام کاربری </span>
                                                <input type="text"
                                                       class="form-control form-user-add-name"
                                                       placeholder="نام کاربری  را وارد کنید"
                                                       name="form-user-add-userName">
                                            </div>
                                            <div class="col-lg-3 form-group-sub">
                                                <span class="text-dark">رمز عبور </span>
                                                <input type="password"
                                                       class="form-control form-user-add-passWord"
                                                       placeholder="رمز عبور  را وارد کنید"
                                                       name="form-user-add-passWord">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-3 form-group-sub">
                                                <span class="text-dark">نام تامین کننده : </span>
                                                <span>(نمایش در سایت)</span>
                                                <select
                                                        class="form-control kt-select2">
                                                    <option th:each=" op : ${@provider.getMyProvider()}"
                                                            th:value=" ${op.id}"
                                                            th:text=" ${op.name}"></option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-ms-12 form-group-sub">
                                                <span class="text-dark">شماره موبایل : </span>
                                                <input type="number"
                                                       class=" form-control arrow-disable  form-user-add-phone "
                                                       numberic
                                                       placeholder="شماره همراه را وارد کنید">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-portlet__foot">
                                <div class="kt-form__actions">
                                    <div class="btn btn-outline-info btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                                         data-ktwizard-type="action-submit">
                                        ثبت
                                    </div>
                                    <a href="/admin/user"
                                       class="btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u btn btn-outline-danger ">لغو</a>
                                </div>
                            </div>

                        </form>
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>


    <div id="kt_modal_remote" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <!--end::Modal-->

    <!-- end:: Content -->
</div>
<div th:remove="tag" th:fragment="script">
    <script th:src="@{/assets/libs/general/block-ui/jquery.blockUI.js}" type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js}"
            type="text/javascript"></script>

    <script th:src="@{/assets/libs/general/bootstrap-maxlength/src/bootstrap-maxlength.js}"
            type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/bootstrap-timepicker/js/bootstrap-timepicker.js}"
            type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/bootstrap-timepicker/js/bootstrap-timepicker.init.js}"
            type="text/javascript"></script>

    <script th:src="@{/assets/libs/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js}"
            type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/bootstrap-select/dist/js/bootstrap-select.js}"
            type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/jquery-form/dist/jquery.form.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/jquery-validation/dist/jquery.validate.js}" type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/jquery-validation/dist/additional-methods.js}"
            ‌type="text/javascript"></script>
    <script th:src="@{/assets/libs/custom/js/vendors/jquery-validation.init.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/persian-date.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/util.js}" type="text/javascript"></script>
    <script th:src="@{/assets/libs/general/persian-js/persian.js}" type="text/javascript"></script>

    <script th:src="@{/assets/js/jquery.md.bootstrap.datetimepicker.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/select2_js/select2.js}" type="text/javascript"></script>
    <script th:src="@{/assets/libs/custom/pNumber-to-eNumber/pNumber-to-eNumber.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/pages/user/userAdd.js}" type="text/javascript"></script>

</div>

</body>
</html>