<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="kt-footer kt-grid__item" id="kt_footer" th:fragment="footer">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__wrapper">
            <div class="kt-footer__copyright">
                1403&nbsp;&copy;&nbsp;<a href="http://behtatahvie.com/" target="_blank" class="kt-link">تمامی حقوق برای بهتا‌تهویه محفوظ است.</a>
            </div>
            <div class="kt-footer__menu">
                <a href="https://behtatahvie.com" target="_blank" class="kt-link">توسعه‌دهنده‌ بهتا‌تهویه</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>