<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="modal" th:remove="tag">
    <div class="modal-header" th:fragment="modal">
        <h5 class="modal-title" th:text="${typeId}==0?'خودرو':'رنگ'"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
         <div class="kt-infobox">
            <div class="kt-infobox__body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <form th:object="${data}">
                            <label class="col-form-label">نام </label>
                            <input class="form-control" type="text" th:field="*{name}">
                            <input type="hidden" name="unitId" th:value="*{id}">
                            <input type="hidden" name="typeId" th:value="${typeId}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
        <button type="button" class="btn btn-primary btn-submit">ذخیره</button>
    </div>

</div>
</body>
</html>