<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="timeLine" id="kt_header" class="kt-header kt-grid__item  kt-header--fixed " data-ktheader-minimize="on">
    <div class="kt-timeline-v2__item">
        <span class="kt-timeline-v2__item-time">10:00</span>
        <div class="kt-timeline-v2__item-cricle">
            <i class="fa fa-genderless kt-font-danger"></i>
        </div>
        <div class="kt-timeline-v2__item-text  kt-padding-top-5">
            Lorem ipsum dolor sit amit,consectetur eiusmdd tempor<br>
            incididunt ut labore et dolore magna
        </div>
    </div>
</div>

</body>
</html>