<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: #FFFFFF">
    <form style="background: #E6E6E6; width: 30%; height: 200px; margin: auto" method="POST" action="/test/image/upload" enctype="multipart/form-data">
        <p style="text-align: center">
            Image Uploader
        </p>

        <input name="file" type="file" accept="image/*">

        <input style="background: #0f695f" type="submit" value="Upload">

    </form>
</body>
</html>