<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer" class="kt-footer  kt-footer--extended  kt-grid__item" id="kt_footer"
     style="background-image: url('/assets/media/bg/bg-2.jpg');">
    <div class="kt-footer__top">
        <div class="kt-container">
            <div class="row">
                <div class="col-lg-4 end">
                    <a class="kt-header__brand-logo" href="http://behtatahvie.com/">
                        <img alt="Logo" th:src="@{/assets/images/krec.png}" class="kt-header__brand-logo-sticky">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-footer__bottom">
        <div class="kt-container">
            <div class="kt-footer__wrapper">
                <div class="kt-footer__logo">
                    <div class="kt-footer__copyright">
                        1398&nbsp;&copy;&nbsp;
                        <a href="http://behtatahvie.com/" target="_blank">تمامی حقوق این وب‌سایت برای بهتا‌تهویه محفوظ است</a>
                    </div>
                </div>
                <div class="kt-footer__menu">
                    <a href="https://behtatahvie.com" target="_blank">توسعه‌دهنده بهتا‌تهویه</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>